.add-column-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-column-container {
  color: #828fa3;
  background: #ffffff;
  border-radius: 6px;
  padding: 1em 1em 2em 1em;
  width: 90%;
  margin: 2em auto 0 auto;
  max-width: 480px;
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5em;
  color: #000112;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.name-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

label {
  font-size: 0.75rem;
  font-weight: 700;
}

input {
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  background: #ffffff;
  color: #000112;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.8em 0.8em;
}

input:focus {
  outline: 1px solid #635fc7;
  outline-offset: -1px;
}

.submit-btn {
  border: none;
  border-radius: 20px;
  background: #635fc7;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  padding: 1em 1.5em;
  transition: .2s;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #a8a4ff;
}

.submit-btn:active {
  background-color: #a8a4ff;
}
