.add-column-container {
    color: white;
    background: #2b2c37;
    border-radius: 6px;
    padding: 1em 1em 2em 1em;
    width: 90%;
    margin: 2em auto 0 auto;
  }

  .title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.5em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  
.name-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  
label {
  font-size: 0.75rem;
  font-weight: 700;
}

input {
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: #2b2c37;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.8em 0.8em;
}


.submit-btn {
    border: none;
    border-radius: 20px;
    background: #635fc7;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    padding: 1em 1.5em;
  }