.add-edit-board-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-edit-board-container {
  color: #828fa3;
  background: white;
  border-radius: 6px;
  padding: 0.5em 1.5em 2em 1.5em;
  width: 90%;
  margin: 2em auto 0 auto;
  max-width: 480px;
}

.back-link {
  font-size: 0.8125rem;
  color: #635fc7;
  font-weight: 700;
  text-decoration: none;
}

.title {
  color: #000112;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  text-transform: capitalize;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.name-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}

label,
.subtasks-heading,
.board-columns-heading {
  font-size: 0.75rem;
  font-weight: 700;
}

input {
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: white;
  border-radius: 4px;
  color: #000112;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.8em 0.8em;
}

input:focus {
  outline: 1px solid #635fc7;
  outline-offset: -1px;
}

.form-control-id {
  display: none;
}

.columns-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.board-columns-heading {
  margin-bottom: 1em;
}

.validation-message {
  color: #ea5555;
  position: absolute;
  font-size: 0.8125rem;
  font-weight: 300;
  top: 8px;
  right: 60px;
}

.title-validation-message {
  top: 35px;
  right: 15px;
}

.invalid-input {
  outline: 1px solid #ea5555;
  outline-offset: -1px;
}

.column-input {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.column-input input {
  width: 90%;
}

.delete-btn {
  border: none;
  background: none;
}

.delete-btn:hover {
  cursor: pointer;
}

.add-column-btn {
  background: rgba(99, 95, 199, 0.1);
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #635fc7;
  padding: 0.9em 0;
  width: 100%;
  transition: 0.2s;
}

.add-column-btn:hover {
  background: rgba(99, 95, 199, 0.25);
}

.add-column-btn:active {
  background: rgba(99, 95, 199, 0.25);
}

.add-column-btn:hover {
  cursor: pointer;
}

.submit-btn {
  border: none;
  border-radius: 20px;
  background: #635fc7;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  padding: 1em 1.5em;
  transition: 0.2s;
}

.submit-btn:hover {
  cursor: pointer;
  background: #a8a4ff;
}

.submit-btn:active {
  background: #a8a4ff;
}

.submit-btn:disabled,
.submit-btn[disabled] {
  background-color: #cccccc;
  color: #666666;
}


.submit-btn:disabled:hover,
.submit-btn[disabled]:hover {
  cursor: default;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0.8em;
}

.loading-indicator {
  width: 25px;
  height: 25px;
  -webkit-animation: rotate-center 0.4s ease-in-out infinite forwards;
  animation: rotate-center 0.4s ease-in-out infinite forwards;
}

/**
KEYFRAMES
**/

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
