.view-task-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-task-container {
  color: white;
  background: white;
  border-radius: 6px;
  padding: 0.5em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 90%;
  max-width: 480px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-btn {
  background: none;
  border: none;
  align-self: flex-end;
  position: relative;
}

.edit-delete-btn:hover {
  cursor: pointer;
}

.edit-delete-menu {
  background: white;
  display: flex;
  gap: 1em;
  flex-direction: column;
  border-radius: 8px;
  padding: 1em 5em 1em 1em;
  position: absolute;
  right: 0.4em;
  width: max-content;
  align-items: baseline;
  box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
  -webkit-box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
}

.edit-delete-menu:hover {
  cursor:default;
}

.edit-delete-menu button {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
}
.edit-delete-menu button:hover {
  cursor: pointer;
}

.edit-btn {
  color: #828fa3;
}

.delete-btn {
  color: #ea5555;
}

.task-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.5em;
  color: #000112;
}

.task-description {
  color: #828fa3;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 23px;
}

.subtasks-heading {
  margin-bottom: 1em;
  font-size: 0.75rem;
  font-weight: 700;
  color: #828fa3;
}

.subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.current-column-heading {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1em;
  color: #828fa3;
}

.current-column {
  color: #000112;
  font-weight: 500;
}

.current-column-dropdown {
  border: 1px solid rgba(130, 143, 163, 0.25);
  padding: 1em 1.5em;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-dropdown {
  outline: 1px solid #635fc7;
  outline-offset: -1px;
}

.current-column-dropdown:hover {
  cursor: pointer;
}

.dropdown-menu {
  background: white;
  border-radius: 8px;
  margin-top: 0.5em;
  box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
  -webkit-box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(54, 78, 126, 0.3);
  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  padding: 1em 1.5em;
  color: #828fa3;
  font-weight: 500;
}

.dropdown-menu ul li {
  margin-bottom: 1em;
}

.dropdown-menu ul li:hover {
  cursor: pointer;
}

.dropdown-menu ul li:last-child {
  margin-bottom: 0;
}

/**
KEYFRAMES
**/

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
