<div class="view-task-container">
  <header>
    <a class="back-link" [routerLink]="['/board', boardId]">Go Back</a>
    <h2 class="task-title">
      {{ taskTitle }}
    </h2>
  </header>
  <p class="task-description">
    {{ taskDescription }}
  </p>
  <div class="subtasks-container">
    <h3 class="subtasks-heading">
      Subtasks ({{ numOfSubtasksDone }} of {{ numOfSubtasks }})
    </h3>
    <div class="subtasks-list">
      <app-subtask
        *ngFor="let subtask of subtasks"
        [subtask]="subtask"
        (toggleDone)="updateDoneCount($event)"
      ></app-subtask>
    </div>
  </div>

  <div class="current-column-container">
    <h3 class="current-column-heading">Current Column</h3>
    <div class="current-column-dropdown">
      <span class="current-column">{{ currentColumn }}</span>
      <svg
        (click)="toggleDropdown()"
        width="10"
        height="7"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4" />
      </svg>
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown">
      <ul>
        <li
          *ngFor="let column of columns"
          (click)="changeCurrentColumn(column.title, column._id)"
        >
          {{ column.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
