.view-task-container {
  color: white;
  background: #2b2c37;
  border-radius: 6px;
  padding: 1em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.task-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.task-description {
  color: #828fa3;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 23px;
}

.subtasks-heading {
  margin-bottom: 1em;
  font-size: 0.75rem;
  font-weight: 700;
}

.subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.current-column-heading {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.current-column-dropdown {
  border: 1px solid rgba(130, 143, 163, 0.25);
  padding: 1em 1.5em;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  background: #20212C;
  border-radius: 8px;
  margin-top: .5em;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  padding: 1em 1.5em;
  color: #828FA3;
  font-weight: 500;
}

.dropdown-menu ul li {
  margin-bottom: 1em;
}

.dropdown-menu ul li:last-child {
  margin-bottom: 0;
}


