.boards-modal {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  width: 285px;
  margin: 5em auto 0 auto;
  border-radius: 6px;
  padding: 1em 0;
}

.modal-title {
    font-size: .75rem;
    font-weight: 700;
    color: #828FA3;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-left: 2em;
    margin-bottom: 2em;
}

.boards-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.board-item {
    font-size: .93rem;
    font-weight: 700;
    color: #828FA3;
}


.board-item a {
    text-decoration: none;
    width: 90%;
    display: block;
    padding: 1em 0 1em 1.5em;
    color: #828FA3;
    display: flex;
    align-items: center;
    gap: .8em;
}

.active-link {
    background: #635FC7;
    border-radius: 0 30px 30px 0;
    width: 90%;
    color: white;
}

.new-board-btn {
    color: #635FC7;
    background: none;
    border: none;
    padding: 1em 0 1em 1.5em;
    display: flex;
    align-items: center;
    gap: .8em;
}

.new-board-btn:hover {
    cursor: pointer;
}