.task {
  background: white;
  padding: 1.5em 1em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1)  ; 
	-webkit-box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1)  ; 
	-moz-box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1)  ; 
}

.task-title {
  font-weight: 700;
  font-size: 0.9rem;
  transition: 0.2s;
  color: #000112;
}

.subtasks-subtitle {
  font-size: 0.7rem;
  font-weight: 700;
  color: #828fa3;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

a:hover .task-title {
  color: #635fc7;
}
