<div class="container">
  <aside *ngIf="showSidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <app-titlebar
    (showBoardsModal)="onToggleBoardsModal()"
    (showDeleteModal)="onToggleDeleteModal($event)"
    [ngClass]="{'enlarge-titlebar': !showSidebar}"
  ></app-titlebar>
  <div class="main" [ngClass]="{'enlarge-main': !showSidebar}">
    <router-outlet></router-outlet>
  </div>
  <app-boards-modal
    (hideModalEvent)="onToggleBoardsModal()"
    *ngIf="showBoardsModal"
  ></app-boards-modal>
  <app-delete-modal
    *ngIf="showDeleteModal"
    (hideDeleteModal)="onToggleDeleteModal()"
    [deleteModalType]="deleteModalType"
  ></app-delete-modal>
</div>
