.main {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr;
}

app-titlebar {
  background: #2b2c37;
  grid-column: 1/-1;
  grid-row: 1/2;
}

app-columns {
  background: #20212c;
  grid-row: 2/3;
  grid-column: 1/-1;
}

app-delete-modal {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
