.boards-sidebar {
  background: #2b2c37;
  border-radius: 6px;
  padding: 1.5em 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-container {
  padding-left: 1.5em;
  display: flex;
  gap: 0.5em;
  margin-bottom: 2.5em;
}

.logo-container svg {
  align-self: center;
}

.title {
  font-weight: 700;
  color: #f4f7fd;
}

.all-boards-title {
  font-size: 0.75rem;
  font-weight: 700;
  color: #828fa3;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-left: 2em;
  margin-bottom: 2em;
}

.boards-container {
  flex-basis: 100%;
}


.boards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 370px;
  overflow-y: auto;
}


.board-item {
  font-size: 0.93rem;
  font-weight: 700;
  color: white;
}

.board-item a {
  text-decoration: none;
  color: inherit;
  width: 90%;
  display: block;
  padding: 1em 0 1em 1.5em;
}

.active-link {
  background: #635fc7;
  border-radius: 0 30px 30px 0;
  width: 90%;
}

.new-board-btn {
  color: #635fc7;
  background: none;
  border: none;
  padding: 1em 0 1em 1.5em;
  font-weight: 700;
  transition: .2s;
}

.new-board-btn:hover {
  cursor: pointer;
  color: white;
}

.new-board-btn:active {
  color: white;
}

.hide-sidebar-btn {
  background: none;
  border: none;
  color: #828fa3;
  font-size: 0.93rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-left: 1.5em;
  padding-bottom: 2em;
  transition: .2s;
}

.hide-sidebar-btn:hover {
  cursor: pointer;
  color: white;
}

.hide-sidebar-btn:active {
  color: white;
}

.hide-sidebar-btn svg path {
  transition: .2s;
}

.hide-sidebar-btn:hover svg path {
  fill: white;
}

