<div class="boards-sidebar">
  <div class="logo-container">
    <svg width="24" height="25" xmlns="http://www.w3.org/2000/svg">
      <g fill="#635FC7" fill-rule="evenodd">
        <rect width="6" height="25" rx="2" />
        <rect opacity=".75" x="9" width="6" height="25" rx="2" />
        <rect opacity=".5" x="18" width="6" height="25" rx="2" />
      </g>
    </svg>
    <h1 class="title">
      Frello
    </h1>
  </div>
  <h2 class="all-boards-title">
    All Boards <span class="num-of-boards">({{ numOfBoards }})</span>
  </h2>
  <ul class="boards-list">
    <li class="board-item" *ngFor="let board of boards">
      <a [routerLink]="['/board', board._id]" routerLinkActive="active-link">{{
        board.title
      }}</a>
    </li>
    <li class="board-item">
      <a [routerLink]="['/addboard']"
        ><button type="button" class="new-board-btn">
          + Create New Board
        </button></a
      >
    </li>
  </ul>
</div>
