header {
  width: 100vw;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sidebar-btn-container {
    display: flex;
    justify-content: center;
    border-right: 1px solid #3e3f4e;
    width: 10%;
  }

  .toggle-sidebar-btn {
    border: none;
    background: none;
  }

  .toggle-sidebar-btn:hover {
    cursor: pointer;
  }
}

.titlebar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 0 1em 1.2em;
}

@media (min-width: 768px) {
  .titlebar-container {
    width: 100%;
    padding: 0;
  }
}

.titlebar-container-shown-sidebar {
  padding: 1.2em;
}

.logo-title-container {
  display: none;
  border-right: 1px solid #e4ebfa;
  padding: 1em 1.5em 1em 1.5em;
}

@media (min-width: 768px) {
  .logo-title-container {
    display: block;
  }
}

.logo-container {
  display: flex;
  gap: 0.5em;
}

.logo-container svg {
  align-self: center;
}

.title {
  font-weight: 700;
  color: #000112;
}

.board-title-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.board-title-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-width: 159px;
}

@media (min-width: 768px) {
  .mobile-logo {
    display: none;
  }
}
.board-title {
  font-weight: 700;
  color: #000112;
  font-size: 1.125rem;
}

.toggle-boards-btn {
  background: none;
  border: none;
}

.toggle-boards-btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .toggle-boards-btn {
    display: none;
  }
}

.btn-options-container {
  display: flex;
  gap: 0.7em;
  margin-right: 1em;
}

.options-btn {
  align-self: end;
}

.options-btn:hover {
  cursor: pointer;
}

.add-task-btn {
  border: none;
  background: #635fc7;
  padding: 0.4em 1.3em;
  border-radius: 24px;
  margin-left: 1em;
}

.add-task-btn:disabled {
  background: rgba(99, 95, 199, 0.25);
}

.add-task-link {
  text-decoration: none;
  color: white;
}

.add-task-btn-tablet {
  display: none;
}

@media (min-width: 768px) {
  .add-task-btn {
    display: none;
  }

  .add-task-btn-tablet {
    display: block;
    border: none;
    background: #635fc7;
    padding: 0.8em 1.3em;
    border-radius: 24px;
    margin-left: 1em;
    color: white;
    font-weight: 700;
    font-size: 0.9375rem;
    transition: 0.2s;
  }
  .add-task-btn-tablet:hover {
    background: #a8a4ff;
    cursor: pointer;
  }
  .add-task-btn-tablet:active {
    background: #a8a4ff;
  }

  .add-task-btn-tablet:disabled {
    background: rgba(99, 95, 199, 0.25);
  }

  .add-task-btn-tablet:disabled:hover {
    cursor: default;
  }
}

.options-btn {
  border: none;
  background: none;
  align-self: flex-end;
}

@media (min-width: 768px) {
  .options-btn {
    align-self: normal;
  }
}

.options-container {
  background: white;
  display: flex;
  gap: 1em;
  flex-direction: column;
  border-radius: 8px;
  padding: 1em 5em 1em 1em;
  position: absolute;
  top: 4em;
  right: 1.2em;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .options-container {
    top: 4.8em;
  }
}

.options-container a {
  font-size: 0.8125rem;
  font-weight: 500;
  text-decoration: none;
}

.options-container a:hover {
  cursor: pointer;
}

.edit-link {
  color: #828fa3;
}

.delete-link {
  color: #ea5555;
}
