<div class="add-edit-task-modal" (click)="onHideAddEditTask($event)">
  <div class="add-edit-task-container">
    <h2 class="title">{{ addOrEditTask }} Task</h2>
    <form *ngIf="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="title-form-container">
        <label>Title</label>
        <input
          type="text"
          formControlName="title"
          [ngClass]="{
            'invalid-input':
              taskForm.controls['title'].status === 'INVALID' &&
              taskForm.controls['title'].touched === true
          }"
        />
        <span
          class="validation-message title-validation-message"
          *ngIf="
            taskForm.controls['title'].status === 'INVALID' &&
            taskForm.controls['title'].touched === true
          "
          >Can't be empty</span
        >
      </div>
      <div class="description-form-container">
        <label for="task-description">Description</label>
        <textarea
          id="task-description"
          formControlName="description"
        ></textarea>
      </div>
      <div class="subtasks-form-container">
        <h3 class="subtasks-heading">Subtasks</h3>
        <div class="subtasks-list" formArrayName="subtasks">
          <div
            class="subtask-input"
            *ngFor="let subtasks of getSubtasksControls(); let i = index"
            [formGroupName]="i"
          >
            <input
              type="text"
              formControlName="subtask"
              [ngClass]="{
                'invalid-input':
                  getSubtaskFormGroup(i)?.status === 'INVALID' &&
                  getSubtaskFormGroup(i)?.touched === true
              }"
            />
            <input type="checkbox" formControlName="done" />
            <span
              class="validation-message"
              *ngIf="
                getSubtaskFormGroup(i)?.status === 'INVALID' &&
                getSubtaskFormGroup(i)?.touched === true
              "
              >Can't be empty</span
            >

            <button class="delete-btn" (click)="onDeleteSubtask(i)">
              <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg">
                <g fill="#828FA3" fill-rule="evenodd">
                  <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
                  <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
                </g>
              </svg>
            </button>
          </div>
        </div>
        <button class="add-subtask-btn" type="button" (click)="onAddSubtask()">
          + Add New Subtask
        </button>
      </div>
      <div class="column-form-container">
        <h3 class="column-form-heading">Column</h3>
        <div class="column-dropdown" (click)="onToggleDropdown()">
          <span class="current-column">{{ selectedColumn }}</span>
          <button class="toggle-dropdown-btn" type="button">
            <svg
              *ngIf="!displayDropdown"
              class="dropdown-chevron"
              width="10"
              height="7"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke="#635FC7"
                stroke-width="2"
                fill="none"
                d="m1 1 4 4 4-4"
              />
            </svg>
            <svg
              *ngIf="displayDropdown"
              class="dropdown-chevron"
              width="10"
              height="7"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke="#635FC7"
                stroke-width="2"
                fill="none"
                d="M9 6 5 2 1 6"
              />
            </svg>
          </button>
        </div>
        <div class="dropdown-menu" *ngIf="displayDropdown">
          <ul class="list-of-columns">
            <li *ngFor="let column of listOfColumns">
              <button
                class="column-btn"
                type="button"
                (click)="onSelectColumn(column.title, column._id)"
              >
                {{ column.title }}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <button class="submit-btn" type="submit">
        {{ addOrEditTask === "edit" ? "Save Changes" : "Add Task" }}
      </button>
    </form>
    <div class="loading" *ngIf="isFetching">
      <img class="loading-indicator" src="../../../assets/logo-mobile.svg" />
    </div>
  </div>
</div>
